<h1>Please find below all the data you picked for this calculation you did the <%= @footprint.created_at %></h1>

<%= @footprint.duration_on_terminal  %>
<%= @footprint.terminal_category %>
<%= @footprint.data_size %>
<%= @footprint.country %>
