<div class="container">
  <h1 class="fw-bold">Please find below all the data you picked for this calculation :</h1>

  <h2><strong>Total time on terminal (min):</strong> <%= @footprint.duration_on_terminal %> </h2>
  <h2><strong>Terminal Type:</strong> <%= @footprint.terminal_category %></h2>
  <h2><strong>Datas weight (Ko):</strong> <%= @footprint.data_size %></h2>
  <h2><strong>Country:</strong> <%= @footprint.country %></h2>
  <% if @footprint.additional_factor > 1.0 %>
  <h2><strong>additional factor:</strong> <%= @footprint.additional_factor %></h2>
  <% end %>
  <%= link_to "Back", footprints_path, :class => "btn-gradient" %>
</div>
